// GLOBAL VARIABLES

// fonts
$main-font: 'Roboto', sans-serif

// colors
$background-color: #f0f8fa
$brand-color-primary: #c30d0d
$brand-color-secondary: #3399cc
$brand-color-secondary-hover: #246b8f
$black: #000
$gray: #999
$white: #FFF

// 
$break-small: 575px
$break-medium: 700px
$break-large: 1024px