// GLOBAL VARIABLES

// fonts
$main-font: 'Roboto', sans-serif

// colors
$brand-color: #FF9966
$black: #000
$gray: #999
$white: #FFF
$nav-background: rgba(225, 225, 225, .97)
$header-gradient: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0), $black 50%, $black)

// 
$break-small: 480px
$break-medium: 700px
$break-large: 1024px